<html>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $.getJSON("/category/displayJSON", { ajax: true }, function (result) {
      console.log(result);
      if (result.status) {
        result.data.forEach((item, index) => {
          $("#categoryid").append(
            $("<option>").text(item.categoryname).val(item.categoryid)
          );
        });
        $("select").formSelect();
      }
    });

    
    var urlParams = new URLSearchParams(window.location.search);
    console.log(urlParams.get("productid"));
    $.getJSON(
      "/subcategory/displayJSONbyproductid",
      { ajax: true, pid: urlParams.get("productid") },
      function (result) {
        if (result.status) {
          result.data.forEach((item, index) => {
            $("#subcategoryid").append(
              $("<option>").text(item.subcategoryname).val(item.subcategoryid)
            );
          });
          $("select").formSelect();
        }
      }
    );
    $("#categoryid").change(function () {
      $("#subcategoryid").empty();
      $("#subcategoryid").append($("<option>").text("choose subcategory"));
      $.getJSON(
        "/subcategory/displayJSON",
        { ajax: true, cid: $("#categoryid").val() },
        function (result) {
          if (result.status) {
            result.data.forEach((item, index) => {
              $("#subcategoryid").append(
                $("<option>")
                  .text(item.subcategoryname)
                  .val(item.subcategoryid)
              );
            });
            $("select").formSelect();
          }
        }
      );
    });
  });
</script>

<script>
  $(document).ready(function () {
    $("select").formSelect();
  });
</script>

<style>
    .maincontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-color: #2f3640;
    }

    .subcontainer {
        width: 700px;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #dcdde1;
    }

    .heading {
        font-size: 30px;
        font-weight: 100px;
        text-align: center;
        color: #2f3640;

    }
</style>

<body style="margin:0px">
    <div class="maincontainer">
        <div class="subcontainer">
            <div class="heading">
                SubCategory Interface
            </div>
            <form action="/subcategory/edit" method="post">
                <div class="row">
                    
                        <div class="row">
                            <div class="input-field col s4">
                                <select id="categoryid" name="categoryid" >
                                  <option value="" disabled selected>Select Category</option>
                                  
                                </select>
                                <label>Materialize Select</label>
                            </div>
                            <div class="input-field col s4">
                                <select id="subcategoryid" name="subcategoryid" >
                                  <option value="" selected>Select SubCategory</option>
                                  
                                </select>
                                <label>Materialize Select</label>
                              </div>
                            
                            <div class="input-field col 4">
                                <input id="Product Id" name="productid" value="<%=data.productid%>" type="text"
                                    class="validate" readonly>
                                <label for="Product Id">Product Id</label>
                            </div>
                        </div>
                        <div class="input-field col s12">
                            <input id="Product Name" name="productname" value="<%=data.productname%>"
                                type="text" class="validate">
                            <label for="Product Name">Product Name</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="Description" name="description" value="<%=data.description%>" type="text"
                                class="validate">
                            <label for="Description">Description</label>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="Price" type="text" name="price"  value="<%=data.price%>" class="validate">
                                <label for="Price">Price</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="Offerprice" type="text" name="offerprice"  value="<%=data.offerprice%>" class="validate">
                                <label for="Offerprice">Offerprice</label>
                            </div>
                        
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="Color" type="text" name="Color"  value="<%=data.color%>" class="validate">
                                <label for="color">Color</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="Size" type="text" name="Size"   value="<%=data.size%>" class="validate">
                                <label for="size">Size</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="Stock" type="text" name="Stock"  value="<%=data.stock%>" class="validate">
                                <label for="stock">Stock</label>
                            </div>
                        </div>
        
                        <div class="row">
                            <label>
                                <div class="col s6 center">
                                    <input class="material-icons right" name="status" value="available" type="radio" <%=data.status=="available"?'checked':""%> />
                                    <span>Available</span>
                                </div>
                            </label>
                            <label>
                                <div class="col s6 center">
                                    <input class="material-icons right" name="status" value="not available"
                                        type="radio" <%=data.status=="not available"?'checked':""%> />
                                    <span> Not Available</span>
                                </div>
                            </label>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col s6 center">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>

                    </div>


                    <div class=" col s6">
                        <button class="btn waves-effect waves-light" type="reset" name="action">Reset
                            <i class="material-icons right">cancel</i>
                        </button>

                    </div>


                </div>
            </form>
        </div>
    </div>
    </div>

    </div>






    </div>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>